a_comparte.png
a_full.png
a_inner.png
a_left.png
a_right.png
continentes_anio.png
dataframe.png
ejemploSave.RData
fwf-sample.png
fwf-sample0.png
headpaises07.png
headpaises070.png
headpaises071.png
headpaises072.png
headpaises073.png
headpaises074.png
headpaises075.png
headpaises076.png
logicos1.png
logicos2.png
logicos3.png
mtcars.png
mtcars2.csv
mtcars2.png
pais07dplyr.png
paiscbind.png
paisesNA1.png
paisesNA2.png
paisesNA3.png
paisesOrd.png
paisSumm1_1.png
paisSumm1.png
paisSumm2.png
paisSumm3.png
paisSumm4.png
paisSumm5.png
paisSumm6.png
pasies07.png
readmtcars.png
readmtcars0.png
resumen.png
unnamed-chunk-14-1.png
unnamed-chunk-16-1.png
unnamed-chunk-19-1.png
paiscbind1.png
paisesNA21.png
plot1-1.png
plot2-1.png
plot3-1.png
plot4-1.png
plot5-1.png
plot6-1.png
plot7-1.png
plot8-1.png
plot9-1.png
